// FONTS
  // Font import
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

  // Font settings
    $default-font-family: "Roboto", "Poppings", "Lato", serif;
    $default-font-weight: 400;
    $medium-font-weight: 700;
    $bold-font-weight: 700;
    $default-font-style: normal;

