// SIZES
  // Fonts sizes
    $default-size: 1rem;
    $secondary-size: 1.5rem;
    $tertiary-size: 2rem;
    $quaternary-size: 0.7rem;
    $quintenary-size: 0.5rem;

  // Button sizes
    $default-button-width: 160px;
    $default-button-height: 50px;

    // transfer button
    $secondary-button-width: 80px;
    $secondary-button-height: 40px;

    // logout button
    $tertiary-button-width: 120px;
    $tertiary-button-height: 30px;
