// SIZES
  // Fonts sizes
    $default__size: 1rem;
    $secondary__size: 1.5rem;
    $tertiary__size: 2rem;
    $quaternary__size: 0.7rem;
    $quintenary__size: 0.5rem;

  // Button sizes
    $default__button__width: 160px;
    $default__button__height: 50px;

    // transfer button
    $secondary__button__width: 80px;
    $secondary__button__height: 40px;

    // logout button
    $tertiary__button__width: 120px;
    $tertiary__button__height: 30px;
